.container {
  width: 900px;
  height: 704px;
  margin-top: 24px;

  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
}
.about {
  height: 129px;
  display: flex;
  width: 852px;
  
  margin-top: 25px;
  margin-left: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  h3 {
    margin-left: 24px;
    margin-bottom: 8px;
    padding: 0;
  }
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d5e4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212830;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
.links {
  display: flex;
  margin-left: 24px;
  gap: 18px;
  a {
    margin-left: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #5558fa;
  }
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 24px;
  gap: 24px;
  &__input {
    display: flex;
  flex-direction: column;
  }
}
.start {
  margin-top: 48px;
 
  padding: 12px 16px;
background: #5558FA;
border-radius: 4px;
margin-left: 24px;
border: none;
font-weight: 400;
font-size: 14px;
line-height: 20px;

cursor: pointer;
color: #FFFFFF;
}
